.page {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: qingke;

  .page-background {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translateY(-50px);
    object-fit: cover;
  }
}

.section {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  .edit {
    width: 80px;
    margin-right: 0;
    :deep(.u-button) {
      padding: 20px;
    }
  }
}

.user-wrapper {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  .avatar-wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  .avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 60px 0 rgba(112, 112, 112, 0.1);
    position: relative;
    image {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    .edit {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: #fff;
      padding: 5px;
      border-radius: 50%;
    }
  }
  .name {
    color: #93846e;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    margin-top: 5px;
  }
}

.header {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-title {
    width: 60%;
    height: 25px;
    image {
      width: 100%;
      height: 100%;
    }
  }
}

.content {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 10px;
  .title {
    margin-bottom: 15px;
    image {
      height: 30px;
      width: 90px;
    }
  }
}

.submit-btn {
  color: #fff;
}

.footer {
  text-align: left;
  :deep(.wd-button) {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
